*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#home {
    position: relative;
    top: -4px;
    font-size: 32px;
}

#infoDiv {
    color: #919497;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 24px;
    line-height: 160%;
    font-weight: bold;
}

#mandaw {
    position: relative;
    top: 50px;
    color: rgb(126, 126, 204);
}

#info {
    position: relative;
    top: 100px;
}

#infoHeader {
    position: relative;
    top: 200px;
    color: rgb(126, 126, 204);
}

#graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    position: relative;
    top: 300px;
}

#graphInfo {
    position: relative;
    top: 400px;
}

#sunrise {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    position: relative;
    top: -5px;
}

#location {
    text-align: center;
    position: relative;
    top: 150px;
}

#sunriseImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

#sunriseText {
    text-align: center;
    position: relative;
    top: 50px;
}

#sunsetImg {
    width: 135px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
}

#sunsetText {
    position: relative;
    top: 100px;
    text-align: center;
}

#phoenix {
    padding: 0;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    position: absolute;
    top: 2550px;
}

#moonHeader {
    position: relative;
    top: 1800px;
    color: rgb(126, 126, 204);
}

#moonGraph {
    position: relative;
    top: 1900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#moonGraphInfo {
    position: relative;
    top: 2000px;
}

#locationMoon {
    text-align: center;
    position: relative;
    top: 2200px;
}

#moonriseImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1950px;
}

#moonriseText {
    text-align: center;
    position: relative;
    top: 1980px;
}

#moonsetImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2050px;
}

#moonsetText {
    text-align: center;
    position: relative;
    top: 2080px; 
}

#dublinsunrise {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1425px;
    height: auto;
    position: relative;
    top: 1700px;
}

#moonPhaseHeader {
    position: relative;
    top: 3000px;
    color: rgb(126, 126, 204);
}

#moonPhaseInfo {
    text-align: center;
    position: relative;
    top: 3200px;
}

#moonPhase {
    text-align: center;
    position: relative;
    top: 2100px;
}

#moonImg {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2310px;
}

#moonPhaseText {
    text-align: center;
    position: relative;
    top: 2320px;
}

#footer {
    background-color: #414141;
    color: rgb(163, 163, 163);
    height: 150px;
    position: relative;
    top: 2500px;
}

#cr {
    position: relative;
    text-align: center;
    top: 50px;
}

@media only screen and (max-width: 1000px) {
    #graph {
        width: 280px;
        height: auto;
    }
    #sunriseText {
        position: relative;
        top: -100px;
    }
    #sunriseImg {
        position: relative;
        top: -100px;
    }
    #sunsetText {
        position: relative;
        top: -100px;
    }
    #sunsetImg {
        position: relative;
        top: -100px;
    }
    #phoenix {
        top: 2350px;
    }
    #dublinsunrise{
        display: none;
    }
    #moonGraph {
        width: 300px;
        height: auto;
    }
    #moonPhase {
        position: relative;
        top: 1400px;
    }
    #moonPhaseHeader {
        position: relative;
        top: 2200px;
    }
    #moonImg {
        top: 1600px;
    }
    #moonPhaseText {
        position: relative;
        top: 1600px;
    }
    #moonPhaseInfo {
        top: 2500px;
    }
    #footer {
        top: 2000px;
    }
    #cr {
        position: relative;
        top: 25px;
    }
}